[submodule "cd13926-Building-Generative-AI-Applications-with-Amazon-Bedrock-and-Python-project-solution"]
	path = cd13926-Building-Generative-AI-Applications-with-Amazon-Bedrock-and-Python-project-solution
	url = https://github.com/udacity/cd13926-Building-Generative-AI-Applications-with-Amazon-Bedrock-and-Python-project-solution.git
